{% load static %}
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">

	<link rel="stylesheet" href="{% static 'css/Index-1/index-1.css' %}">
	<link rel="stylesheet" href="{% static 'css/Index-1/index-1 ADAPTATION.css' %}">




	<title>{% block title %}{% endblock %}</title>
</head>
<body>
	<div class="wrapper">
		<div class="header">
			<div class="container">
				<div class="header__row">
					<div class="header__smoking-logo">
						<a href="{% url 'home_page' %}"><img src="{% static 'img/Smokig.PNG' %}" alt=""></a>
					</div>
					<div class="header__grid">
						<ul class="header__list">
							<li><a href="">Отзывы</a></li>
							<li><a href="">Бонусы и Подарки</a></li>
							<li><a href="">Акции</a></li>
							<li><a href="">Доставка</a></li>
							<li><a href="">Оплата</a></li>
							<li>
								<a href="">Еще</a>
								<div class="header__arrow"></div>
								<ul class="header__sub-list">
									<li><a href="">Как заказать</a></li>
									<li><a href="">Гарантии</a></li>
									<li><a href="">Помощь</a></li>
									<li><a href="">Контакты</a></li>
									<li><a href="{% url 'all_news' %}">Статьи</a></li>
								</ul>
							</li>
						</ul>
					</div>
					<div class="header__social-network">
						<div class="header__social-network-link">
							<a href=""><img src="{% static 'img/Social networks/vk.png' %}" alt=""></a>
						</div>
						<div class="header__social-network-link">
							<a href=""><img src="{% static 'img/Social networks/telegram.png' %}" alt=""></a>
						</div>
						<div class="header__social-network-link">
							<a href=""><img src="{% static 'img/Social networks/whatsapp.png' %}" alt=""></a>
						</div>
					</div>
					<div class="header__consultation">
						<p><span>Консультация</span></p>
						<p>Пн-Пт с 09:00 - 20:00</p>
					</div>
					<div class="header__call">
						<p><a href="">8 (800) 555 35 35</a></p>
						<p>Звонок по РФ бесплатный</p>
					</div>
				</div>
			</div>
		</div>
		<div class="nav">
			<div class="container">
				<div class="nav__row">
					<div class="nav__burger">
						<a href="{% url 'catalog' %}"><img src="{% static 'img/Nav-Menu/burger.PNG' %}" alt=""><p>Каталог товаров</p></a>
					</div>
					<div class="nav__search">
						<form class="nav__form">
							<input class="nav_line-search" type="text" placeholder="Искать товар">

							<button class="nav_line-button">Искать</button>
						</form>
					</div>
					<div class="nav__nav">
						<a class="nav__input" href="#popup"><img src="{% static 'img/Nav-Menu/input.png' %}" alt=""><p>Войти</p></a>
						<a class="nav__cart" href="#"><img src="{% static 'img/Nav-Menu/cart.png' %}" alt=""><p>Корзина</p></a>
					</div>
					<div class="registration">
						<div class="content">
							<div id="popup" class="registration__popup">
								<div class="registration__body">
									<div class="registration__popup-content">
										<a href="#" class="registration__close">x</a>
										<div class="registration__text">
											<details class="registration__details">
												<summary>Вход</summary>
												<form action="#" class="registration__form">
													<p><input placeholder="Введите @mail" type="text"></p>
													<p><input placeholder="Пароль" type="text"></p>
													<input type="submit">
												</form>
											</details>
											<details class="registration__details">
												<summary>Регистрация</summary>
												<form action="#" class="registration__form">
													<p><input placeholder="Введите @mail" type="text"></p>
													<p><input placeholder="Пароль" type="text"></p>
													<input type="submit">
												</form>
											</details>
										</div>
									</div>

								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="wrapper2">

      {% block content %}{% endblock %}

			{% include 'inc/_footer.html' %}
		</div>
	</div>
</body>
</html>
