{% extends 'base.html' %}
{% load static %}


{% block title %}{{ title }}{% endblock %}

{% block content %}
<div class="catalog">
  <div class="container">
    <div class="catalog-category__row">
      <a href="#">Вейп-шоп "Смокинг"</a>
      <p>/</p>
      <p>Каталог товаров</p>
    </div>
    <div class="catalog__main-title">Каталог товаров</div>
    <div class="cataglog__grid">
      <div class="catalog__item">
        <div class="catalog__title"><a href="#">Электронные сигареты</a></div>
        <div class="catalog__img">
          <a href="#"><img src="img/Catalog/ecigarette.jpg" alt=""></a>
        </div>
      </div>
      <div class="catalog__item">
        <div class="catalog__title"><a href="#">Электронные сигареты</a></div>
        <div class="catalog__img">
          <a href="#"><img src="img/Catalog/ecigarette.jpg" alt=""></a>
        </div>
      </div>
      <div class="catalog__item">
        <div class="catalog__title"><a href="#">Электронные сигареты</a></div>
        <div class="catalog__img">
          <a href="#"><img src="img/Catalog/ecigarette.jpg" alt=""></a>
        </div>
      </div>
      <div class="catalog__item">
        <div class="catalog__title"><a href="#">Электронные сигареты</a></div>
        <div class="catalog__img">
          <a href="#"><img src="img/Catalog/ecigarette.jpg" alt=""></a>
        </div>
      </div>
      <div class="catalog__item">
        <div class="catalog__title"><a href="#">Электронные сигареты</a></div>
        <div class="catalog__img">
          <a href="#"><img src="img/Catalog/ecigarette.jpg" alt=""></a>
        </div>
      </div>
      <div class="catalog__item">
        <div class="catalog__title"><a href="#">Электронные сигареты</a></div>
        <div class="catalog__img">
          <a href="#"><img src="img/Catalog/ecigarette.jpg" alt=""></a>
        </div>
      </div>
      <div class="catalog__item">
        <div class="catalog__title"><a href="#">Электронные сигареты</a></div>
        <div class="catalog__img">
          <a href="#"><img src="img/Catalog/ecigarette.jpg" alt=""></a>
        </div>
      </div>
      <div class="catalog__item">
        <div class="catalog__title"><a href="#">Электронные сигареты</a></div>
        <div class="catalog__img">
          <a href="#"><img src="img/Catalog/ecigarette.jpg" alt=""></a>
        </div>
      </div>
      <div class="catalog__item">
        <div class="catalog__title"><a href="#">Электронные сигареты</a></div>
        <div class="catalog__img">
          <a href="#"><img src="img/Catalog/ecigarette.jpg" alt=""></a>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
