{% extends 'base.html' %}
{% load static %}


{% block title %}{{ title }}{% endblock %}

{% block content %}
  <div class="all-news">
    <div class="container">
      <div class="all-news__row">
        <a href="{% url 'home_page' %}">Вейп-шоп "Смокинг"</a>
        <p>/</p>
        <p>Новости</p>
      </div>
      <div class="all-news__main-title">Новости</div>
      <div class="all-news__block">
        {% for item in news %}
          <div class="all-news__item">
            <div class="all-news__image">
              {% if item.image %}
                <img src="{{ item.image.url }}" alt="">
              {% endif %}
            </div>
            <div class="all-news__body">
              <div class="all-news__date">
                <p><img src="{% static 'img/menu/time.png' %}" alt="">{{ item.created_at }}</p>
              </div>
              <div class="all-news__title"><a href="{{ item.get_absolute_url }}">{{ item.title }}</a></div>
              <div class="all-news__text">
                {{ item.text|linebreaks|truncatewords:70 }}
              </div>
            </div>
          </div>
        {% endfor %}
      </div>
    </div>
  </div>

  <div class="paginator">
    <div class="container">
      <div class="paginator__container">
        <a href=""><<</a>
        <a href="">1</a>
        <a href="">2</a>
        <a href="">3</a>
        <a href="">4</a>
        <a href="">5</a>
        <a href="">6</a>
        <a href="">7</a>
        <a href="">>></a>
      </div>
    </div>
  </div>
{% endblock %}
